###
# mii processes common ignores
###
**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/

**/*.iml

**/dependency-reduced-pom.xml
**/.codebase-memory

# Working directory for the dsf-maven-plugin generate-dev-setup-cert-files goal
**/cert/
